<% if(sucess.length) { %>
<style>
  .flash-effect {
    position: absolute;
    z-index: 9;
    top: 5rem;
    animation: enimate-down 0.5s linear;
  }
  @keyframes enimate-down {
    0% {
      top: 0;
    }
    100% {
      top: 5rem;
    }
  }
</style>
<div
  class="alert alert-success alert-dismissible col-4 offset-3 flash-effect"
  role="alert"
  style="padding: 1rem"
>
  <p style="margin: 0"><%= sucess %></p>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
    style="padding: 1rem"
  ></button>
</div>
<% } %> <% if(error.length) { %>
<div
  class="alert alert-danger alert-dismissible col-4 offset-3"
  role="alert"
  style="padding: 1rem"
>
  <p style="margin: 0"><%= error %></p>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
    style="padding: 1rem"
  ></button>
</div>
<% } %>
