<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="/facebook"><i class="fa-brands fa-facebook"></i></a>
      <a href="/twitter"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="/instagram"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="f-info-brand">WonderLust Private Ltd</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
