<!-- Navigation Bar -->
<header class="sticky-top text-bg-light shadow ">
  <nav class="navbar d-flex justify-content-between px-5">
    <div class="navbar-logo">
      <a href="/listings"
        ><i class="fa-regular fa-compass fs-2 default-text-color"></i
      ></a>
    </div>
    <!-- <div class="search-bar">
      <input type="text" placeholder="What are you looking for..." />
      <input type="text" placeholder="Where" />
      <select>
        <option>All Categories</option>
      </select>
      <button class="btn btn-primary">Search</button>
    </div>
    <div> -->
    <div class="d-flex justify-content-around nav-second">
      <a class="nav-link" href="/listings/new">Create New Listing's</a>
      <% if(!currUser) { %>
      <a href="/signUp"><i class="fa-solid fa-user fs-4 default-text-color"></i></a>
      <% } else { %>
      <a href="/logout"><i class="fa-solid fa-right-from-bracket fs-4 default-text-color"></i></a>
      <% } %>
    </div>
  </nav>
</header>
